<%- include('layouts/header'); -%>

<main class="main">
    <div class="categories">
        <h2>Books Category</h2>
        <ul class="category">
            <li><a href="/compscCategory">Computer Science</a></li>    
            <li><a href="/progCategory">Programming</a></li>
            <li><a href="/databaseCategory">Database</a></li>
            <li><a href="/misCategory">MIS</a></li>
            <li><a href="/webCategory">Web</a></li>
        </ul>
    </div>
</main>

<%- include('layouts/footer'); -%>